
<section id="sample-table " class="mat-elevation-z8 bg-white">
 
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div class="row" >  
    <button mat-raised-button class="btn btn-primary pull-right" (click)="openModal('custom-modal-1')">Send Mail</button> 
    <input type="button" class="btn btn-danger pull-right" (click)="exporter.exportTable('xlsx')" value="Export">
    <button mat-raised-button class="btn btn-danger pull-right" (click)="openModal('userRoleId')">User Role</button> 
        <br>  
        </div> 
  <table mat-table matTableExporter [dataSource]="dataSource" matSort class="w-100" #exporter="matTableExporter">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.firstName}} {{row.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> EmailID </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
      <td mat-cell *matCellDef="let row"> {{row.mobile}} </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country  </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.country"> {{row.country}} </td>
    </ng-container>
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</th>
      <td mat-cell *matCellDef="let row" [style.color]="row.dob"> {{row.dob}} </td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
      <td mat-cell *matCellDef="let row" [style.color]="row.gender"> {{row.gender}} </td>
    </ng-container>
   

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</section>

<jw-modal id="custom-modal-1">
  <h1>Message Content</h1>
  <form class="login-form" [formGroup]="studentForm" (ngSubmit)="sendMail()" #resetStudentForm="ngForm" novalidate>
  <mat-form-field class="w-100">
    <input matInput  placeholder="Subject" formControlName = "subject">
    
    <mat-error *ngIf="handleError('subject', 'required')">
      Please enter <strong>Subject</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-100" >
    <textarea matInput rows="15 " cols="40" type="textarea" placeholder="Message Content" formControlName = "body"></textarea>
    <mat-error *ngIf="handleError('body', 'required')">
      Please enter <strong>Message Content</strong>
    </mat-error>
  </mat-form-field>
  <button (click)="closeModal('custom-modal-1');">Send Mail</button>
  </form>
</jw-modal>
<jw-modal id="userRoleId">
  <h1>Please select the role for selected users!</h1>
  <form class="login-form" [formGroup]="studentForm" (ngSubmit)="userRole()" #resetStudentForm="ngForm" novalidate>
    <mat-form-field class="w-100">
      <mat-select placeholder="Select" [(ngModel)]="selectedStatus" (ngModelChange)="onStatusSelection1()">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
    
    </mat-form-field>
  <button (click)="closeModal('userRoleId');">Submit</button>
  </form>
</jw-modal>
